server:
  port: 7081
  servlet:
    context-path: /blog


spring:
  datasource:
  #    MySQL 配置
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/springboot?useUnicode=true&characterEncoding=UTF-8&useSSL=false
    username: root
    password: 123456
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  freemarker:
    suffix: .html
    request-context-attribute: request
#  thymeleaf:
#    prefix: classpath:/templates/
#    check-template-location: true
#    cache: false
#    suffix: .html
#    encoding: UTF-8

mybatis:
  mapper-locations: classpath:mappers/*.xml
  type-aliases-package: com.chenhz.view.domain


renren:
  cluster: false  #集群配置  true集群环境   false单机环境，还需打开pom.xml里的spring-session-data-redis注释
  globalSessionTimeout: 3600   #单机环境，session过期时间为60分钟
  redis:
    open: false  #是否开启redis缓存  true开启   false关闭

